.logo{
    border-radius: 50%;
    height: 5vh;
    border: 1px solid white;
    background: black;
    margin:0.5vw;
}
.navigation{
    height: 6vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
.productContainer{
    height: 94vh;
}
.divColCentre{
    display: flex;
    flex-direction: column;
}