:root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
}
body{
  margin: 0px;
}
button{
  border:1px solid var(--faded-blue);
  border-radius: 8px;
  background: var(--dark-blue);
  color:var(--faded-blue);
  font-size: 20px;

}